require File.join(File.dirname(__FILE__), '..', '..', 'spec_helper')

describe Mack::ControllerHelpers::<%= @name_plural_camel %>Controller do
  include Mack::ControllerHelpers::<%= @name_plural_camel %>Controller
  
end