<p>
  <h1><%= @name_singular_camel %></h1>
</p>
<% for column in columns -%>
<p>
  <b><%= column.column_name.singular.camelcase %></b><br />
  <%%= @<%= @name_singular %>.<%= column.column_name %> %>
</p>
<% end -%>

<%%= link_to("Edit", <%= @name_plural %>_edit_url(:id => @<%= @name_singular %>.id)) %> |
<%%= link_to("Back", <%= @name_plural %>_index_url) %>
