require File.join(File.dirname(__FILE__), "..", "test_helper.rb")

class <%= @name_plural_camel %>ControllerTest < Test::Unit::TestCase
  
  def test_truth
    assert true
  end
  <% @actions.each do |action| %>
  def test_<%= action %>
    get <%= @name_plural %>_<%= action %>_url
    assert response.successful?
    assert_match /<%= @name_plural_camel %>Controller#<%= action %>/, response.body
  end
  <% end %>
end