require File.join(File.dirname(__FILE__), '..', '..', 'test_helper')

class DefaultControllerHelperTest < Test::Unit::TestCase
  include Mack::ControllerHelpers::DefaultController
  
  def test_truth
    assert true
  end
  
end
