<h1>Listing posts</h1>

<table>
  <tr>
    <th>&nbsp;</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to("Show", posts_show_url(:id => post.id)) %></td>
    <td><%= link_to("Edit", posts_edit_url(:id => post.id)) %></td>
    <td><%= link_to("Delete", posts_delete_url(:id => post.id), :method => :delete, :confirm => "Are you sure?") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to("New Post", posts_new_url) %>
